<div class="panel">
  <div class="panel-heading" style="background-color:#0071BC;color:#fff;">Add a Listing</div>
    <div class="panel-body">

<%= render partial: 'listings/form', locals: { listing: @listing } %>

    </div><!--/panel-body-->
</div><!--/panel-->
