<h4>Yo <%= @user.first_name %>,</h4>
  <p>Welcome to Swap ! Shop, your place to find and trade cool stuff. Thanks for supporting us! Remember, always choose to Swap Not Shop! You can get started by clicking <a href="http://swapthing.herokuapp.com/">here</a>.</p>



 <p>Thanks,<br>
    Colin Scott<br>
    Creator of Swap ! Shop</p>
