<div class="panel">
  <div class="panel-heading" style="background-color:#0297EC;color:#fff;">Welcome to Swap ! Shop</div>
    <div class="panel-body">
    Welcome to Swap, Don't Shop. Remember back to the good ole days of trading your PBJ for a Snack Pack in elementary school? We're bringing it back but for all of your used stuff! Have an Ipad you're looking to get rid off? Then just list it and other users can you offer items of similar value for trade! Or you can throw in offers yourself on other members listings.
    <br><br>
    It's easy to get started, just sign in and select add listing on the left hand navigation. What are you waiting for? Get to Swappin'!

    </div><!--/panel-body-->
</div><!--/panel-->






