<h4>Yo <%= @user.first_name %>,</h4>

    <p>We just wanted to drop you a line to let you know an offer has been made on your listing <%= @listing.name %>. We just thought you should know. Thanks for supporting Swap ! Shop.</p>

    <p>You can see the message at the <a href="http://swapthing.herokuapp.com/">The Shop</a>.</p>

    <p>Thanks,<br>
      Colin Scott<br>
      Creator of Swap ! Shop</p>
